.container {
  padding: 20px;
  height: 100vh;
  font-family: fantasy;
}
.container h1 {
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  width: 25%;
  border-bottom: 2px solid rgb(95, 88, 88);
  margin-bottom: 20px;
}
.ordersContainer {
  padding: 15px;
}
.input {
  background-color: black;
  padding: 10px;
  font-size: 24px;
  border: none;
}
.input:hover {
  cursor: pointer;
}
.input:focus-visible {
  border: none;
  outline: none;
}
.order {
  padding: 5px 10px;
  margin: auto;
  width: 70%;
  margin-bottom: 20px;

  border: 1px solid #aaa;
  transition: 1s all ease-in-out;
}
.orderDetails {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  margin-bottom: 10px;
}
.orderId,
.orderDate {
  font-size: 25px;
}
.orderInfo {
  font-size: 18px;
  margin: 10px 25px;
}
.label {
  color: #333;
}
.info {
  color: #222;
}
.expand,
.collapse {
  text-align: right;
  font-size: 25px;
}
.test {
  cursor: pointer;
  color: green;
}
.orderStatus {
  text-align: center;
  font-size: 25px;
  margin: 20px 0;
}
@media screen and (max-width: 1000px) {
  .container {
    padding: 0;
  }
  .container h1 {
    width: 100%;
  }
  .order {
    width: 100%;
  }
  .orderDetails {
    flex-direction: column;
  }
  .orderId {
    font-size: 20px;
  }
}
