.product {
  border: 2px solid gray;
  font-weight: bold;
  margin: 10px;
}
.productDetails {
  color: black !important;
  display: flex;
  padding: 20px;
  background-color: #ccc;
  justify-content: space-between;
}
.productDetails span {
  color: black;
}
.icon {
  height: 20px;
  width: 20px;
  stroke-width: 3px;
  font-weight: bold;
}
.iconContainer {
  padding: 10px;
  text-align: center;
  background-color: gray;
}
.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}
.expand {
  overflow: hidden;
  transition: max-height 0.5s ease-in;
  max-height: 150px;
  background-color: #aaa;
}
.groupContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #aaa;
}
.group {
  border-bottom: 1px solid white;
  padding: 10px;
}
.group span {
  color: black;
}
@media screen and (max-width: 800px) {
  .productDetails {
    flex-direction: column;
    gap: 10px;
  }
  .groupContainer {
    font-size: 14px;
    /* display: none; */
    flex-direction: column;
  }
  .expand {
    max-height: 250px;
  }
}
