.container {
  color: black !important;
  text-align: center;
  height: 100%;
}
.buttonContainer {
  background-color: gray;
  display: flex;
  margin-top: 20px;
}
.buttonContainer div {
  flex-grow: 1;

  border: 2px solid black;
  padding: 20px;
}
@media screen and (min-width: 1000px) {
  .container {
    margin: auto;
    width: 1000px;
  }
}
